.sidebar-link {
    font-size: large;
    .active {
        background: whitesmoke;
    }
}

@media (max-width: 720px) {
    .sidebar-link {
        font-size: initial;
    }
    .site-name {
        display: none !important;
    }
}

@media (min-width: 720px) {
    .sidebar {
        padding-left: 60px;
    }
    .sidebar-heading {
        font-size: xx-large;
    }
}